# Build Folders
build/
obj/

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.appi

#Xcode
*.pbuser
*.mode1v3
*.mode2v3

