// Xcode target configuration settings shared across all Max projects
// To change settings for only one project, override the settings using Xcode's target inspector.
//
// Timothy Place
// Copyright © 2011, Cycling '74


PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = 6.0.4
PRODUCT_BUILD = 1974

// Paths
//C74SUPPORT = $(SRCROOT)/../max6-sdk/c74support
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon "$(SRCROOT)/libs" "$(SRCROOT)/libs/artnet" "$(SRCROOT)/libs/max"
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/libs/max"
DSTROOT = $(SRCROOT)/build
// (This next path is relative to DSTROOT)
INSTALL_PATH = /

INFOPLIST_FILE = $(SRCROOT)/Info.plist

ARCHS = i386

SDKROOT = $(DEVELOPER_DIR)/SDKs/MacOSX10.5.sdk
// SDKROOT = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk

MACOSX_DEPLOYMENT_TARGET = 10.5
// MACOSX_DEPLOYMENT_TARGET = 10.6

// GCC_VERSION = 4.2
GCC_VERSION = com.apple.compilers.llvmgcc42
// GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
